In [9]:
#T-SNEで主成分分析して特徴量を減らす
#2017年の中学生のデータを取り込み
import pandas as pd
df = pd.read_csv('pref_2017.csv')
df.head()

       2017  f_rate  gaku  life  sports  morals  jison
0  Hokkaido    3.39  65.0  5.10   40.70     4.9    5.1
1    Aomori    2.99  66.3  5.25   42.28     5.3    5.4
2     Iwate    2.56  63.8  5.20   44.22     5.5    5.1
3    Miyagi    4.34  65.0  5.35   42.01     4.8    5.0
4     Akita    2.45  70.0  6.15   44.22     5.9    5.9

In [ ]:
#データの標準化
from sklearn.preprocessing import StandardScaler
df1 = df.drop(['2017'], axis = 1)
sc = StandardScaler()
sc_df = sc.fit_transform(df1)

In [ ]:
#tsneの実行
from sklearn.manifold import TSNE
model_t = TSNE(random_state=0).fit_transform(sc_df)

In [10]:
#tsneによって得られた列をデータフレームにして都道府県列を戻す
new_df = pd.DataFrame(model_t)
new_df.columns = ['PC1', 'PC2']
new_df['2017'] = df['2017']
new_df.head()

        PC1       PC2      2017
0  3.066096  0.537863  Hokkaido
1  1.466091  0.288054    Aomori
2  1.629009 -0.767878     Iwate
3  3.287988 -1.535748    Miyagi
4 -0.031800 -0.794874     Akita

In [ ]:
#相関係数を計算するために標準化済のもとのデータと主成分分析したデータを結合する
df2 = pd.DataFrame(sc_df, columns = df1.columns)
df3 = pd.concat([df2, new_df], axis = 1)

In [12]:
#相関係数
df_corr = df3.corr()
df_corr.loc[:'jison', 'PC1':]

/var/folders/_y/mvf875zn6psbpm9bp64z5yr80000gn/T/ipykernel_2411/1997874967.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_corr = df3.corr()

             PC1       PC2
f_rate  0.291713 -0.112908
gaku   -0.401672 -0.066633
life   -0.833825 -0.171295
sports -0.565728 -0.746239
morals -0.895152 -0.052167
jison  -0.910976 -0.107419

In [13]:
#csvへ書き出し
new_df.to_csv('tsne_2017.csv')